name: Runner

on:
push:
branches: [ main ]
pull_request:
branches: [ main ]

jobs:
golangci-lint:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v3
- name: Set up Go
uses: actions/setup-go@v4
with:
go-version: 1.25
- name: Install golangci-lint
run: |
curl -sSfL [https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh](https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh) | sh -s -- -b $(go env GOPATH)/bin v1.55.2
export PATH=$(go env GOPATH)/bin:$PATH
- name: Run golangci-lint
run: golangci-lint run ./...